@import '../index.scss';
@import '../App.scss';

.add-question {
    // margin-top: 6%;
    margin-bottom: 4%;
    cursor: default;
    user-select: none;
}

.btn-ask {
    display: inline-flex;
}

.rdw-dropdown-carettoopen {
    width:fit-content !important;
}
