@import '../index.scss';
@import '../App.scss';

.header {
    // padding: 5px;
    // border-bottom: 1px solid #333333;
    // position: fixed; 
    // // left: 0; 
    // width: 100%;
    // // overflow: hidden; 
    // background: #FFFFFF;
    // top: 0; 
    // height: 5%;
}
.logo {
    width: 5%;
    cursor: pointer;
}

.seachfield {
    border: 1px solid black;
}

.filter {
    position: fixed;
    left: 54.5%;
    cursor: pointer;
}