@import '../index.scss';
@import '../App.scss';

.home {
    // margin-top: 6%;
    margin-bottom: 4%;
    cursor: default;
    user-select: none;
}

.question-list {
    padding-left: 2%;
    padding-right: 2%;
}

.trendingUp {
    color:#00df00;
}

.trendingDown {
    color: #ff7c7c;
}

.home-h3 {
    font-size: 1.5rem;
    margin-top: 12px;
    margin-bottom: 0px;
    color: #0a1929;
    cursor: pointer;
    font-weight: 500;
    text-overflow: ellipsis;
}

.home-h6 {
    margin-top: 10px;
    margin-bottom: 14px;
}

.home-span {
    font-size: .9rem;
    color: #3e5060;
}

.home-chip {
    font-weight: 500;
    float: right;
    padding: 0px !important;
    border-radius: 100px !important;
    margin-right: 2px;
}

.regular-chip {
    font-weight: 500;
    padding: 0px !important;
    border-radius: 100px !important;
    margin-right: 2px;
}

.home-chip > span {
    font-size: 0.7rem !important;
}

.regular-chip > span {
    font-size: 0.7rem !important;
}


// .bg-success {
//     background-color: #0fe10f;
//     color: whitesmoke;
// }

// .bg-error {
//     background-color: #ff7c7c;
//     color: whitesmoke;
// }

// .bg-primary {
//     background-color: #1976d2;
//     color: whitesmoke;
// }

// .icon-color {
//     color: whitesmoke;
// }

@media only screen and (max-width: 400px) {
    .home {
        margin-top: 18%;
        margin-bottom: 12%;
    }
}