@import '../index.scss';
@import '../App.scss';

$small: 300px;
$medium: 900px;

.ilqna-main {
    position: relative;
    top: 12px;
    margin-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    cursor: default;
    user-select: none;
}

.nav-link {
    padding-inline: 2%;
    @media screen and (max-width: $small) {
        padding-inline: 1%;
    }
    @media screen and (min-width: $medium) {
    //do Smth
    }
}

.h-scroller {
    background-color: #333;
    overflow: auto;
    // white-space: nowrap;
}
  
.h-scroller {
    display: inline-flex;
    color: white;
    text-align: center;
    // padding: 14px;
    // text-decoration: none;
}
