@import '../index.scss';
@import '../App.scss';

.qna {
    margin-bottom: 10%;
}

.qna-question-list {
    padding-left: 2%;
    padding-right: 2%;
}

.qna-icon {
    margin-right: 10px;
    font-size: 2rem !important;
}

.qna-trendingUp {
    color:#00df00;
}

.qna-icon-hover-up {
    color: #3e5060
}

.qna-icon-hover-down {
    color: #3e5060
}

.qna-icon-hover-up:hover {
    color:#00df00;
}

.qna-trendingDown {
    color: #ff7c7c;
}

.qna-icon-hover-down:hover {
    color: #ff7c7c;
}

// .qna-dateIcon {
//     font-size: 2rem !important;
// }

.qna-home-h3 {
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 0px;
    color: #0a1929;
    font-weight: 500;
}

.qna-home-h6 {
    margin-top: 4px;
    margin-bottom: 10px;
}

.qna-home-span {
    font-size: 1rem;
    color: #3e5060;
}

.qna-user-answers {
    padding: 2%;
}

.qna-user-data {
    width: fit-content;
    display: inline-flex;

    margin-bottom: 1%;
}

.qna-user-image {
    width: fit-content;
}

.qna-user-info {
    margin-left: 7%;
    min-width: fit-content;
    position: relative;
    bottom: 4px;
}

.qna-user-list {
    justify-content: right;
    width: 100%;
    display: inline-flex;

    // border: 1px solid grey;
    height: 44px;
    margin-top: 1%;
}

.qna-user-upvote-list {
    margin-left: 10px;
    // float: right;
    // width: fit-content;
}

.qna-svg-icon {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    top: 9px;
    font-size: 1.5rem !important;
}

.qna-user-editor {
    margin-top: 2%;
}

.qna-chip {
    font-weight: 500;
    float: right;
    padding: 0px !important;
    border-radius: 100px !important;
    margin-right: 2px;
}

.qna-regular-chip {
    font-weight: 500;
    padding: 0px !important;
    border-radius: 100px !important;
    margin-right: 2px;
}

.qna-chip > span {
    font-size: 0.9rem !important;
}

.qna-regular-chip > span {
    font-size: 0.9rem !important;
}



@media only screen and (max-width: 400px) {
    .qna {
        margin-top: 18%;
        margin-bottom: 12%;
    }
}