@import 'index';

.svg-icon {
    padding-left: 10px;
    padding-right: 3px;
    position: relative;
    top: 9px;
    font-size: 1.66rem !important;
}

.nav-link {
    padding-inline: 0%;
    @media screen and (max-width: $small) {
        padding-inline: 0%;
    }
    @media screen and (min-width: $medium) {
    //do Smth
    }
}

.h-scroller {
    background-color: #333;
    overflow: auto;
    // white-space: nowrap;
}
  
.h-scroller {
    display: inline-flex;
    color: white;
    text-align: center;
    // padding: 14px;
    // text-decoration: none;
}

.custom-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    z-index: 9999;
}

.bg-success {
    // background-color: #0fe10f !important;
    background-color: #01b101 !important;
    color: white !important;
}

.bg-error {
    // background-color: #ff7c7c !important;
    background-color: #ff4646 !important;
    color: white !important;
}

.bg-primary {
    // background-color: #1976d2 !important;
    background-color: #006cd8 !important;
    color: white !important;
}

.bg-warning {
    background-color: #FFD700 !important;
    color: #0e1318 !important;
}

.icon-color {
    color: white !important;
}

.app-navigation {
    position: sticky !important;
    bottom: 0px;
    background-color: #f9f9f9 !important;
    align-items: center;
    color: #1976d2 !important;
}

.filter-dialog > .MuiDialog-container > .MuiPaper-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


